.rcda-link-button {    
    background-color: inherit;
    border: none;
    padding: 0px;
    margin: 0px;
    color: #007CAF;
    text-decoration: underline;
}

.rcda-link-button:hover {
    cursor: pointer;
}